.fjmt{
    margin-top: 150px;
}
.mar-bot{
    margin-bottom: 80px;
}
.ct-client{
    display: flex;
    justify-content: center;


}
.oneimage{
    height: 163px !important;
}
.advance-detail.detail-desc-caption ul li {
  width: 19% !important;
}
.mWrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 17%);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mWrapper .mBox {
    width: 650px;
    height: 450px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #0000002e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mWrapper .mBox button.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0px;
    box-shadow: 0px 0px 4px #00000029;
}
.file{
    margin-bottom: 20px;
}
.js{
    background-color: #07b107;
}
.ajdimage{
    margin-bottom: 20px;
}
.inner-header-page .freelance-image{
    height: 163px !important;
}
nav.navbar.bootsnav{
  background-color:   #1c2734 !important
}
.ejob{
    margin-left: 30px;
}
.des{
    margin-left: 20px;
}
.open{
    padding: 7px;
    margin: 1px;
}
.buttons{
    display: flex; 
    
}
.freepic{
    margin-right: 20px !important;
}
.marker{
    margin-right: 10px;
}

.hire{
    margin-left: 2px;
}
.hire:hover{
    opacity: .7;
}

/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; ;
    margin-top: 50px;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
    .success{
        
            background: rgba(85, 255, 7, 0.2);
            color: #31aa28;
        

    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .loder {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #1c2734;
      }
      .loader {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: linear-gradient(45deg, transparent, transparent 30%, #e5f403);
        animation: loader 2s linear infinite;
      }
      @keyframes loader {
        0% {
          transform: rotate(0deg);
          filter: hue-rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
          filter: hue-rotate(360deg); 
        }
      }
      .loader:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        bottom: 6px;
        right: 6px;
        background: #000;
        border-radius: 50%;
        z-index: 1000;
      }
      .loader:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(45deg, transparent, transparent 30%, #e5f403);
        border-radius: 50%;
        z-index: 1000;
        z-index: 1;
        filter: blur(30px);
      }
      .navbar-right{
        margin-top: 12px !important;
        padding-bottom: 10px;
      
      }
      .btn{
       
        padding: 8px 13px;
     letter-spacing: 0px;
      }
      .detail-desc-caption ul {
        display: flex !important;
        padding: 0;
        margin: 0;
        flex-wrap: nowrap !important;
        align-content: center !important;
        flex-direction: row !important;
        justify-content: center !important;
      }
      .test{
        display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
      }
      .status{
        color: white !important;
        background-color: #11b719 !important;
      }
      .fimage{
        margin-top: 0px !important;
      }